/* 
 * variables.css
 * 包含全局CSS变量和颜色定义
 */

:root {
    --primary-text: #f0f0f0;
    --secondary-text: #a0a0a0;
    --border-color: rgba(255, 255, 255, 0.1);
    --pill-slider-bg: #f0f0f0;
    --pill-text-selected: #111;

    /* 玻璃效果样式 */
    --glass-panel-bg: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 60%), rgba(30, 30, 30, 0.25);
    --glass-highlight-bg: linear-gradient(135deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 60%), rgba(30, 30, 30, 0.4);


} 